
body{
    height: 3000px;
}
.set{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    color: black;
    background-color: white;
    margin-top: 100px;
}

.brick{
    display: flex;
    background-color: #FFD600;
    height: 130px;
    margin-top: 15px;
    
}
#search{
    height: 25px;
    width: 180px;
    margin-top: 80px;
    margin-left: 30px;
    border-radius: 5px;
}
.icon{
    margin-top: 80px;
    margin-left: 50%;
}
#catalog{
    height: 20px;
    width: 80px;
    margin-top: 78px;
    margin-left: 30px;
    border-radius: 10px;
}
.woman{
    margin-top: 15px;
    margin-left: 150px;
}
.WORDS{
    margin-top: -150px;
}
.series{
    margin-left: 500px;
    margin-top: -70px;
    
}
.s1{
    border-radius: 100px;
    padding-right: 150px;
}
.s2{
    border-radius: 100px;
    padding-right:150px ;
    background-color: #FFD600;
}
.view{
    margin-left: -230px;
}
.C{
    margin-left: 100px;
}
.button1{
    color: black;
    background-color:brown;
    border-radius: 20px;
}
.e{
    color: brown;
}
.D{
    margin-left: 350PX;
    margin-top: -350px;
}
.button2{
    color: black;
    background-color: #FFD600;
    border-radius: 20px;
}
.f{
    color: brown;
}
.E{
    margin-left: 670px;
    margin-top: -320PX;
}
.g{
    color: black;
    background-color: brown;
    border-radius: 20px;
}
.F{
    margin-left: 950PX;
    margin-top: -340px;

}
.r{
    color: brown;

}
.button3{
    background-color: brown;
    border-radius: 20px;
    
}
.G{
    margin-left: 100PX;
    margin-top: 50PX;
}
.h{
    color: black;
    background-color: brown;
    border-radius: 20px;
}
.H{
    margin-left: 400PX;
    margin-top: -350PX;
    
}
.L{
    margin-left: 700px;
    margin-top: -280PX;
}
.button4{
    border-radius: 20px;
    color: black;
    background-color: yellow;
}
.button5{
    color: black;
    border-radius: 20px;
    background-color: yellow;
}
.M{
    margin-left:1010PX ;
    margin-top: -300PX;
}
.button6{
    border-radius: 20px;
    color: black;
    background-color: #FFD600;
}
.button7{
    margin-left: 400px;
}
.O{
    margin-left: 100PX;
    
}
.P{
    margin-left: 700PX;
    margin-top: -180PX;
}
.Q{
    margin-left: 320PX;
    margin-top: -200PX;
}
.AB{
    margin-top: 40PX;
}
.AC{
    margin-left: 320PX;
    margin-top: -200PX;
}
.AD{
    margin-top: 40PX;
    margin-left: 650PX;
    margin-top: -200PX;
}
.AE{
    margin-top: 40PX;
    
}
.AF{
    margin-left: 330PX;
    margin-top: -200PX;
}
.AG{
    margin-left: 650PX;
    margin-top: -190PX;
}
.AH{
    margin-left: 950PX;
    margin-top: -200px;
}
.AI{
  margin-top: 40PX;  
}
.AJ{
 margin-left: 300PX;  
 margin-top: -180PX; 
}
.AK{
 margin-left: 630PX;
 margin-top: -200PX;   
}
.AL{
  margin-left: 920PX;  
  margin-top: -200PX;
}
.AM{
    color: white;
    background-color: #FFD600;
    border-radius: 50PX;
    margin-left: 400PX;
    margin-top: 40PX;
}
.AP{
    margin-left: 400PX;
}
.AO{
    margin-left: 100PX;
}
.AR{
   margin-left: 400PX; 
   margin-top: -250PX;
}
.LR{
    margin-left: 700PX;
    margin-top: -250PX;
}
.email{
    margin-left: 380px;
    margin-top: -42px;
}
.PP{
    margin-left: 400PX;
    margin-top: -30PX;
    color: black;
    

}
.DS{
    background-color: #FFD600;
}
.help{
    margin-left: 200px;
    margin-top: -160px;
}
.contacts{
    margin-left: 400px;
    margin-top: -165px;
}
.networks{
    margin-left: 750px;
    margin-top: -190px;
}  
.mn{
background-color: blueviolet;height:330px

}
  
    

    
@media screen  and (max-width :900px){
  
   
body{
    justify-content: center;
    display: inline-block;
    width: 20px;
}
.set{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    color: black;
    background-color: white;
    margin-top: 100px;
}

.brick{
    display: flex;
    background-color: #FFD600;
    height: 130px;
    margin-top: -15px;
    /* margin-left: -200px; */
    
}
#search{
    height: 25px;
    width: 180px;
    margin-top: 80px;
    margin-left: 30px;
    border-radius: 5px;
}
.icon{
    margin-top: -1px;
    margin-left: -50%;
    display: flex;
    
}
#catalog{
    height: 20px;
    width: 80px;
    margin-top: 68px;
    margin-left: 30px;
    border-radius: 10px;
}
.woman{
    margin-top: 15px;
    margin-left: 10px;
    height: 1px;
    width: 1px;
}
.WORDS{
    margin-top: -150px;
}
.series{
    margin-left: 500px;
    margin-top: -70px;
    
}
.s1{
    border-radius: 100px;
    padding-right: 150px;
}
.s2{
    border-radius: 100px;
    padding-right:150px ;
    background-color: #FFD600;
}
.view{
    margin-left: -230px;
}
.C{
    margin-left: 100px;
}
.button1{
    color: black;
    background-color:brown;
    border-radius: 20px;
}
.e{
    color: brown;
}
.D{
    margin-left: 350PX;
    margin-top: -350px;
}
.button2{
    color: black;
    background-color: #FFD600;
    border-radius: 20px;
}
.f{
    color: brown;
}
.E{
    margin-left: 670px;
    margin-top: -320PX;
}
.g{
    color: black;
    background-color: brown;
    border-radius: 20px;
}
.F{
    margin-left: 950PX;
    margin-top: -340px;

}
.r{
    color: brown;

}
.button3{
    background-color: brown;
    border-radius: 20px;
    
}
.G{
    margin-left: 100PX;
    margin-top: 50PX;
}
.h{
    color: black;
    background-color: brown;
    border-radius: 20px;
}
.H{
    margin-left: 400PX;
    margin-top: -350PX;
    
}
.L{
    margin-left: 700px;
    margin-top: -280PX;
}
.button4{
    border-radius: 20px;
    color: black;
    background-color: yellow;
}
.button5{
    color: black;
    border-radius: 20px;
    background-color: yellow;
}
.M{
    margin-left:1010PX ;
    margin-top: -300PX;
}
.button6{
    border-radius: 20px;
    color: black;
    background-color: #FFD600;
}
.button7{
    margin-left: 400px;
}
.O{
    margin-left: 100PX;
    
}
.P{
    margin-left: 700PX;
    margin-top: -180PX;
}
.Q{
    margin-left: 320PX;
    margin-top: -200PX;
}
.AB{
    margin-top: 40PX;
}
.AC{
    margin-left: 320PX;
    margin-top: -200PX;
}
.AD{
    margin-top: 40PX;
    margin-left: 650PX;
    margin-top: -200PX;
}
.AE{
    margin-top: 40PX;
    
}
.AF{
    margin-left: 330PX;
    margin-top: -200PX;
}
.AG{
    margin-left: 650PX;
    margin-top: -190PX;
}
.AH{
    margin-left: 950PX;
    margin-top: -200px;
}
.AI{
  margin-top: 40PX;  
}
.AJ{
 margin-left: 300PX;  
 margin-top: -180PX; 
}
.AK{
 margin-left: 630PX;
 margin-top: -200PX;   
}
.AL{
  margin-left: 920PX;  
  margin-top: -200PX;
}
.AM{
    color: white;
    background-color: #FFD600;
    border-radius: 50PX;
    margin-left: 400PX;
    margin-top: 40PX;
}
.AP{
    margin-left: 400PX;
}
.AO{
    margin-left: 100PX;
}
.AR{
   margin-left: 400PX; 
   margin-top: -250PX;
}
.LR{
    margin-left: 700PX;
    margin-top: -250PX;
}
.email{
    margin-left: 380px;
    margin-top: -42px;
}
.PP{
    margin-left: 400PX;
    margin-top: -30PX;
    color: black;
    

}
.DS{
    background-color: #FFD600;
}
.help{
    margin-left: 200px;
    margin-top: -160px;
}
.contacts{
    margin-left: 400px;
    margin-top: -165px;
}
.networks{
    margin-left: 750px;
    margin-top: -190px;
}  
.mn{
background-color: blueviolet;height:330px

}
  
    

    
    
}



    

    